APP_NAME='Loom'
APP_ENV=public
APP_URL=https://example.com
APP_DOMAIN=example.com
WHOIS_SERVER=whois.example.com
RDAP_SERVER=rdap.example.com

LANG=en_US
UI_LANG=us

WEB_AUTHN_ENABLED=true
#php -r 'echo bin2hex(random_bytes(32)), PHP_EOL;'
WEBAUTHN_DUMMY_SECRET='generated-secret'

DB_DRIVER=mysql
DB_HOST=localhost
DB_DATABASE=loom
DB_USERNAME=root
DB_PASSWORD=
DB_PORT=3306

#mailer settings (Driver = smtp, utopia or msg [for local message broker]; Api Provder = sendgrid or mailgun)
#generate MSG_API_TOKEN with php -r 'echo bin2hex(random_bytes(32)), PHP_EOL;'
MAIL_DRIVER=none
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=username
MAIL_PASSWORD=password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS='example@domain.com'
MAIL_TO_ADDRESS='example@domain.com'
MAIL_FROM_NAME='Example'
MAIL_API_KEY='test-api-key'
MAIL_API_PROVIDER='sendgrid'

ENABLED_GATEWAYS=stripe,balance

STRIPE_SECRET_KEY='stripe-secret-key'
STRIPE_PUBLISHABLE_KEY='stripe-publishable-key'

LIQPAY_PUBLIC_KEY='liqpay-public-key'
LIQPAY_PRIVATE_KEY='liqpay-private-key'

PLATA_TOKEN='plata-token'

ADYEN_API_KEY='adyen-api-key'
ADYEN_MERCHANT_ID='adyen-merchant-id'
ADYEN_THEME_ID='adyen-theme-id'
ADYEN_BASE_URI='https://checkout-test.adyen.com/v70/'
ADYEN_BASIC_AUTH_USER='adyen-basic-auth-user'
ADYEN_BASIC_AUTH_PASS='adyen-basic-auth-pass'
ADYEN_HMAC_KEY='adyen-hmac-key'

NOW_API_KEY='now-api-key'

NICKY_API_KEY='nicky-api-key'

PASSWORD_EXPIRATION_SKIP_USERS=admin

COMPANY_NAME="Your Company Ltd"
COMPANY_ADDRESS="123 Main St"
COMPANY_ADDRESS2="Suite 456"
COMPANY_COUNTRY_CODE="BG"
COMPANY_VAT_NUMBER="BG123456789"
COMPANY_PHONE="+359 888 123 456"
COMPANY_EMAIL="info@example.com"

TLS=1.2
VERIFY_PEER=false
VERIFY_PEER_NAME=false
VERIFY_HOST=false
SELF_SIGNED=true

BIND=false
BIND_IP=1.2.3.4

VALIDATE_PHONE=false
VALIDATE_EMAIL=false
VALIDATE_POSTAL=false

IANA_ID=YOUR_IANA_ID
MOSAPI_USERNAME=YOUR_RR_USERNAME
MOSAPI_PASSWORD=YOUR_RR_PASSWORD